*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

/**** HEADER ****/

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    z-index: 2;
    background-color: black;
    opacity: 0.6;
    /*border: 2px dashed yellow;*/
}

header #logo{
    height: 35px;
}

#upgrade{
    font-size: 0.7em ;
    text-decoration: none;    
    color: white;
    padding: 8px 25px;
    border-radius: 20px;
    border: 1.5px solid white;
}

/**** / HEADER ****/

/**** MAIN ****/

main{
    height: 90%;
    border: 2px dashed yellow;
}

#left{
    width: 15%;
    height: 100%;
    padding-top: 65px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    float: left;
    position: relative;
    /*border: 2px dashed yellow;*/
}

#left a, h2{
    font-weight: 700;
}

#left li{
    margin-bottom: 10px;

}
#left a{
    text-decoration: none; 
    font-size: 0.7em;
    color: grey;
    display: flex;
    align-items: center;
}

#left a:hover{
    color: white;
}

#left img{
    height: 25px;
    padding-right: 8px;
}

#left h2{
    color: white;
    font-size: 13px;
    padding: 10px 0px;
}

#left i{
    padding-right: 10px;
}

#profile-download{
    position: absolute;
    bottom: 2px;
}

#download img{
    height: 15px;
}

#download{
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

#profile img{
    height: 20px;
}

#profile{
    padding-top: 10px;
    color: white;
}

#right{
    width: 85%;
    height: 100%;
    background-color: #191936;
    border: 2px dashed yellow;
    float: left;    
}










/**** / MAIN ****/

