*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

/**** HEADER ****/

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
    z-index: 2;
    background-color: black;
    opacity: 0.7;
    /*border: 2px dashed yellow;*/
}

header #logo{
    height: 35px;
}

#upgrade{
    font-size: 0.7em ;
    text-decoration: none;    
    color: white;
    padding: 8px 25px;
    border-radius: 20px;
    border: 1.5px solid white;
}

#upgrade:hover{
   transform: scale(1.1);
}

/**** / HEADER ****/

/**** MAIN ****/

main{
    height: 90%;
    /*border: 2px dashed yellow;*/
}

#left{
    width: 15%;
    height: 100%;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    float: left;
    position: relative;
    overflow: auto;
    /*border: 2px dashed yellow;*/
}

#left a, h2{
    font-weight: 700;
}

#left li{
    margin-bottom: 10px;

}
#left a{
    text-decoration: none; 
    font-size: 0.7em;
    color: grey;
    display: flex;
    align-items: center;
}

#left a:hover{
    color: white;
}

#left img{
    height: 25px;
    padding-right: 8px;
}

#left h2{
    color: white;
    font-size: 13px;
    padding: 10px 0px;
}

#left i{
    padding-right: 10px;
}

#profile-download{
    position: absolute;
    bottom: 5px;
}

#download img{
    height: 15px;
}

#download{
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

#profile img{
    height: 15px;
    margin-top: 10px;
}

#profile{
    font-size: 12px;
    color: white;
}

#right{
    width: 85%;
    height: 100%;
    padding: 75px 40px 0px 15px;
    background-color: #191936;
    float: left; 
    overflow: auto;
    /*border: 2px dashed yellow;*/ 
}

#right ul{
    display: flex;
    justify-content: center;
}

#right li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}

#right a{
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

#green-bar{
    width: 40%;
    margin: 5px 30% 0px 30%;
    border-top: 1px solid rgb(166, 207, 127);
}

#right a:hover{
    color: white;
}

#right h1, h2, h3{
    color: white;
}

#right h1{
    margin: 30px 0px 5px 0px;
}

.song h2{
    font-size: 14px;
    padding-bottom: 10px;
}

#right p{
    color: gray;
    font-size: 10px;
    font-weight: 700;
}

#recently-container{
    display: flex;
    justify-content: space-between;
}

.song{
    width: 15.5%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /*border: 2px dashed yellow;*/
}

.song i{
    position: absolute;
    color: white;
    margin-top: 50%;  
    transform: translate(-0%, -50%);
    opacity: 0;   
}

.song:hover{
    opacity: 0.7;
}

.song i:hover{
    opacity: 1;
}

.song img{
    width: 100%;
    padding-bottom: 10px;  
    position: relative;
}

#suggested-for-you{
    display: flex;
}

.banner, .artist{
    margin-right: 15px;
}

#suggested-artists{
    display: flex;
}

#suggested-artists img{
    border-radius: 50%;
}



/**** / MAIN ****/

/**** FOOTER ****/

footer{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
}

#track-reproduced{
    display: flex;
}

#track-reproduced img{
    height: 35px;
    width: auto;
    margin-left: 10px;
}

#track-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
}

#track-name h3{
    font-size: 12px;
}

#track-name a{
    text-decoration: none;
    font-size: 10px;
    color: gray;
    font-weight: 700;
}

#track-name a:hover{
    text-decoration: underline;
}

#liked-song{
    display: flex;
    align-items: center;
}

#liked-song a{
    color: gray;
}

#liked-song i:last-child{
    margin-left: 10px;
}

#liked-song i:hover{
    color: white;
}

#track-command{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#command a{
    color: white;
    font-size: 14px;
    margin: 0px 10px;
}

#timeline{
    display: flex;
    align-items: center;
}

#play i{
    font-size: 25px;
}

#play i:hover{
    transform: scale(1.2);
}

#song-timeline{
    height: 2px;
    width: 400px;
    background-color: grey;
    border-radius: 20px;
    margin: 10px 10px;
}

#song-timeline .played{
    height: 2px;
    width: 20%; 
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -5px;
    top: -4px;
    opacity: 0;
}

#song-timeline .time:hover{
    background-color: rgb(166, 207, 127);
    opacity: 1;
}

#timeline p{
    font-size: 10px;
    color: white;
    font-weight: 700;
    margin: 0px 20px;
}

#share-sound{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#share-sound a{
    color: white;
    font-size: 12px;
    margin: 0px 8px;
}

#sound{
    height: 2px;
    width: 100px;
    background-color: grey;
    border-radius: 20px;
    margin-left: 10px;
}

#sound .used{
    height: 2px;
    width: 20%; 
    background-color: white;
    border-radius: 20px;
    position: relative
}

#sound .volume:hover{
    background-color: rgb(166, 207, 127);
    opacity: 1;
}

/*** FOOTER ****/


